---
layout: home
---

<div class="posts clearfix">
  {% for post in site.posts %}
    <article class="post">
      <div class="eyebrow">{{ post.date | date: "%d %b %Y" }}</div>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
      	<p>{{ post.desc }}</p>
<!--         {{ post.content | truncatewords:40}}
 -->  </div>
      
    </article>
  {% endfor %}
</div>
