---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  a {
  color: #444;
  font-weight: 600;
  &:hover {
  background-color: white;
  }
}
}

body {
	background-color: #f4f4f2;
  font: 16px/23px $helveticaNeue;
  color: #666666;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 10px 80px 0;
  width: 100%;
  @include mobile {
    padding: 0 10px 20px 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkGray;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 50px;
  margin: 40px 0;
  a {
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
    &:hover {
      color: #333333;
      background-color: white;
    }
  }
}

.post h1 {
  font-size: 60px;
  letter-spacing: -.03em;
  line-height: 1.1;
  text-transform: uppercase;
}

#home .post {
  width: 280px;
  float: left;
  vertical-align: top;
  margin: 0 30px 0 0;
  height: 360px;
  overflow: hidden;
  @include mobile {
    margin: 0 20px;
    width: 300px;
  }
}

#home .post h1 {
  font-size: 20px;
  line-height: 1.2;
  min-height: 60px;
  margin: 0 0 12px;
  letter-spacing: -0.04em;
  font-weight: 700;
  }

#home h1.site-name {
  text-transform: uppercase;
  font-size: 5.5vmax;
  line-height: 74px;
  font-weight: 1000;
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: -.09em;
  a {
    color: #333333;
  }
  @include mobile {
    margin: 30px 20px 0;
  }
}

.nav {
    display: flex;
    list-style: none;
    padding-top: 6vh;
    max-width: 600px;
    margin: 30px 20px 0 0;
    @include mobile {
    margin: 30px 20px 0 20px;
    }
}

.nav:hover {
    text-decoration: none;
}

.nav li {
    display: block;
    text-transform: uppercase;
}

.nav li a {
    display: block;
    color: #444;
    letter-spacing: 0.1vh;
    font-size: 14px;
    font-weight: lighter;
}

.nav li a:hover {
    text-decoration: none;
    opacity: 1;;
    background-color: white;
}

.navpost {
    display: flex;
    list-style: none;
    padding-top: 6vh;
    max-width: 600px;
    margin: 30px 20px 0 0;
}

.navpost:hover {
    text-decoration: none;
}

.navpost li {
    display: block;
    text-transform: uppercase;
}

.navpost li a {
    display: block;
    color: #444;
    letter-spacing: 0.1vh;
    font-size: 14px;
    font-weight:lighter;
}

.navpost li a:hover {
    text-decoration: none;
    opacity: 1;;
    background-color: white;
}

.social {
    margin-right: 4vh;
}

.bordertop {
    border-top: 2px dotted #999;
}

h2 {
  font-size: 24px;
  margin: 48px 0 12px;
}

h3 {
  font-size: 20px;
  margin: 40px 0 10px;
}

h4 {
  font-size: 18px;
  color: $gray;
  margin: 36px 0 9px;
}

p {
  margin: 15px 0;
}

#home p.site-description {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  max-width: 310px;
  margin-bottom: 120px;
  @include mobile {
    margin: 30px 20px 60px 20px;
  }
}
#home .entry p {
  color: $gray;
}

a {
  color: $red;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #333333;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: $darkGray;
}

blockquote {
  margin: 1.8em .8em;
  padding: 0.1em 1em;
  font-family: $helveticaNeue;
}

img {
  max-width: 100%;
}

.date {
  font-size: 80%;
  color: $gray;
  font-style: italic;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.content-wrapper {
  min-height: 600px;
}

.site-avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  @include mobile {
    float: none;
    display: block;
    margin: 0 0 0 10px;
  }

  img {
    border-radius: 26px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 14px;
  font-family: $helveticaNeue;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-family: $helveticaNeue;
  font-size: 12px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 20px;
    color: $gray;
    width: 225px;
    display: block;
    float: right;

    @include mobile {
      display: inline-block;
      float: none;
      margin: 0 10px;
      color: $darkGray;
      width: 150px;
      text-align: left;
    }
  }
}

article {
  @include mobile {
    margin: 0 20px;
  }
}

.post-site-name {
  text-transform: uppercase;
  font-size: 5.5vmax;
  line-height: 74px;
  font-weight: 1000;
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 20px;
  a {
    font-size: 5.5vmax;
    color: #333333;
    letter-spacing: -.09em;
  }
  @include mobile {
    margin: 30px 20px 0 0;
  }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 1px dotted $gray;
    padding: 0.1em 1em;
    color: $gray;
  }

  .eyebrow {
    font-size: 12px;
    line-height: 30px;
    color: #777;
    padding-top: 6px;
    margin-bottom: 6px;
    border-top: 2px dotted #999;
  }

  .comments {
    margin-top: 10px;
  }

  .small-link {
    font-size: 11px;
    color: $medGray;
    display: block;
      &:hover {
        color: $red;
      }
  }
  .large-link {
    font-size: 20px;
    color: $darkGray;
    font-weight: 500;
  }
  .primary-link {
    color: #000;
    font-size: 13px;
    font-weight: 500;
  }
  .spacer {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid $lightGray;
  }
}

.wrapper-footer {
  border-top: 2px dotted #444;
  background-color: #f4f4f2;
  max-width: 980px;
  margin: 0 auto;
  @include mobile {
    margin: 0 0 0 20px;
  }
}

footer {
  padding: 20px 0 0 0;
  text-align: justify;
  text-transform: uppercase;
  font-size: 0.8vmax;
  font-weight: 1000;
  @include mobile {
    font-size: 1.5vmax;
  }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
