<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body id="home">
    <div class="content-wrapper">

    <div class="container">
      <div class="nav">
          <li class="social"><a href="https://instagram.com/leschosesvivantes">instagram</a></li><a href="https://instagram.com/leschosesvivantes">
          </a><li class="social"><a href="https://instagram.com/leschosesvivantes"></a><a href="https://twitter.com/@circa1984net">twitter</a></li><a href="https://mastodon.social/@gregoiremarty">
          </a><li class="social"><a href="https://mastodon.social/@gregoiremarty"></a><a href="https://circa1984.net/rss/">rss</a></li><a href="/feed.xml">
          </a>
      </div>
      <h1 class="site-name"><a href="/blog/">{{ site.name }}</a></h1>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    </div><!-- /content-wrapper -->

    {% include footer.html %}

  </body>
</html>
