---
layout: default
---

<article class="post">
<div class="container">
    <div class="navpost">
        <li class="social"><a href="https://instagram.com/leschosesvivantes">instagram</a></li><a href="https://instagram.com/leschosesvivantes">
        </a><li class="social"><a href="https://instagram.com/leschosesvivantes"></a><a href="https://twitter.com/@circa1984net">twitter</a></li><a href="https://mastodon.social/@gregoiremarty">
        </a><li class="social"><a href="https://mastodon.social/@gregoiremarty"></a><a href="https://circa1984.net/rss/">rss</a></li><a href="/feed.xml">
        </a>
    </div>
    <div class="post-site-name"><a href="/blog/">{{ site.name }}</a></div>
</div>

    <div class="bordertop">
  <h1>{{ page.title }}</h1>
  <div class="date">{{ page.date | date: "%d %b %Y" }}</div>


  <div class="entry">
    {{ content }}
  </div>


</article>
